
@{
    ViewBag.Title = "Single";
    Layout = "~/Views/Shared/SubLayout.cshtml";
}


        <div class="new-product">
            <div class="col-md-5 zoom-grid">
                <div class="flexslider">

                    <div class="flex-viewport" style="overflow: hidden; position: relative;">
                        <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-512px, 0px, 0px);">
                            <li data-thumb="images/si2.jpg" class="clone" style="float: left; display: block; width: 512px;">
                                <div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                            <li data-thumb="images/si.jpg" class="flex-active-slide" style="float: left; display: block; width: 512px;">
                                <div class="thumb-image"> <img src="images/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                            <li data-thumb="images/si1.jpg" style="float: left; display: block; width: 512px;" class="">
                                <div class="thumb-image"> <img src="images/si1.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                            <li data-thumb="images/si2.jpg" style="float: left; display: block; width: 512px;" class="">
                                <div class="thumb-image"> <img src="images/si2.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                            <li data-thumb="images/si.jpg" class="clone" style="float: left; display: block; width: 512px;">
                                <div class="thumb-image"> <img src="images/si.jpg" data-imagezoom="true" class="img-responsive" alt=""> </div>
                            </li>
                        </ul>
                    </div><ol class="flex-control-nav flex-control-thumbs"><li><img src="images/si.jpg" class="flex-active"></li><li><img src="images/si1.jpg" class=""></li><li><img src="images/si2.jpg" class=""></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul>
                </div>
            </div>
            <div class="col-md-7 dress-info">
                <div class="dress-name">
                    <h3>LOREM IPSUM DRESS</h3>
                    <span>$459.00</span>
                    <div class="clearfix"></div>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever</p>
                </div>
                <div class="span span1">
                    <p class="left">FABRIC ORIGIN</p>
                    <p class="right">Japan</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span2">
                    <p class="left">MADE IN</p>
                    <p class="right">China</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span3">
                    <p class="left">COLOR</p>
                    <p class="right">White</p>
                    <div class="clearfix"></div>
                </div>
                <div class="span span4">
                    <p class="left">SIZE</p>
                    <p class="right">
                        <span class="selection-box">
                            <select class="domains valid" name="domains">
                                <option>M</option>
                                <option>L</option>
                                <option>XL</option>
                                <option>FS</option>
                                <option>S</option>
                            </select>
                        </span>
                    </p>
                    <div class="clearfix"></div>
                </div>
                <div class="purchase">
                    <a href="#">Purchase Now</a>
                    <div class="social-icons">
                        <ul>
                            <li><a class="facebook1" href="#"></a></li>
                            <li><a class="twitter1" href="#"></a></li>
                            <li><a class="googleplus1" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <script src="js/imagezoom.js"></script>
                <!-- FlexSlider -->
                <script defer="" src="js/jquery.flexslider.js"></script>
                <script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
                </script>
            </div>
            <div class="clearfix"></div>
            <div class="reviews-tabs">
                <!-- Main component for a primary marketing message or call to action -->
                <ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
                    <li class="test-class active"><a class="deco-none misc-class" href="#how-to"> More Information</a></li>
                    <li class="test-class"><a href="#features">Specifications</a></li>
                    <li class="test-class"><a class="deco-none" href="#source">Reviews (7)</a></li>
                </ul>

                <div class="tab-content responsive hidden-xs hidden-sm">



                </div><div class="panel-group responsive visible-xs visible-sm" id="collapse-myTab">
                    <div class="panel panel-default test-class">
                        <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle deco-none misc-class" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-how-to"> More Information</a></h4></div><div id="collapse-how-to" class="panel-collapse collapse in" style="height: auto;">
                            <div class="active panel-body" id="how-to">
                                <p class="tab-text">Maecenas mauris velit, consequat sit amet feugiat rit, elit vitaeert scelerisque elementum, turpis nisl accumsan ipsum Lorem Ipsum is simply dummy text of the printing and typesetting industry. and scrambled it to make a type specimen book. It has survived Auction your website on Flippa and you'll get the best price from serious buyers, dedicated support and a much better deal than you'll find with any website broker. Sell your site today I need a twitter bootstrap 3.0 theme for the full-calendar plugin. it would be great if the theme includes the add event; remove event, show event details. this must be RESPONSIVE and works on mobile devices. Also, I've seen so many bootstrap themes that comes up with the fullcalendar plugin. However these . </p>
                            </div>
                        </div>
                    </div><div class="panel panel-default test-class">
                        <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-features">Specifications</a></h4></div><div id="collapse-features" class="panel-collapse collapse">
                            <div class="panel-body" id="features">
                                <p class="tab-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.This tab has icon in consectetur adipiscing eliconse consectetur adipiscing elit. Vestibulum nibh urna, ctetur adipiscing elit. Vestibulum nibh urna, t.consectetur adipiscing elit. Vestibulum nibh urna,  Vestibulum nibh urna,it.</p>
                                <p class="tab-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                </p>
                            </div>
                        </div>
                    </div><div class="panel panel-default test-class">
                        <div class="panel-heading"><h4 class="panel-title"><a class="accordion-toggle deco-none" data-toggle="collapse" data-parent="#collapse-myTab" href="#collapse-source">Reviews (7)</a></h4></div><div id="collapse-source" class="panel-collapse collapse">
                            <div class="panel-body" id="source">
                                <div class="response">
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MARCH 21, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MARCH 26, 2054</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>MAY 25, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>FEB 13, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>JAN 28, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>APR 18, 2015</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="media response-info">
                                        <div class="media-left response-text-left">
                                            <a href="#">
                                                <img class="media-object" src="images/icon1.png" alt="">
                                            </a>
                                            <h5><a href="#">Username</a></h5>
                                        </div>
                                        <div class="media-body response-text-right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,There are many variations of passages of Lorem Ipsum available,
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                            </p>
                                            <ul>
                                                <li>DEC 25, 2014</li>
                                                <li><a href="single.html">Reply</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
